<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./balanco.css">
    <title>Read</title>
</head>


<body onload="calcula()">


    <div class="border">
        <h1>Balanço Patrimonial</h1>

        <div class="balan">

            <div class="left">

                <!-- Deleta Débito -->

                
                    <table class="box">
                        <h3>Ativo</h3>
                        <% debito.forEach(function(conta){ %>

                        <!-- Mostra os Itens que componhe o Débito-->

                        <tr class="box">

                            <!-- Itens da tabela -->

                            <th><%= conta.Descricao %></th>
                            <th class="debit"><%= conta.Valor %></th>
                        </tr>
                        <% }); %>
                    </table>

                <!-- Soma valor de débito -->


            </div>

            <div class="right">

                <!-- Deleta Crédito -->

            
                    <table class="box">
                        <h3>Passivo</h3>
                        <% credito.forEach(function(conta){ %>

                        <!-- Mostra os Itens que componhe o Crédito-->

                        <tr class="box">

                            <!-- Itens da tabela -->

                            <th><%= conta.Descricao %></th>
                            <th class="credit"><%= conta.Valor %></th>
                        </tr>

                        <% }); %>
                

                    <table class="box">

                        <h5 id="somapl">Patrimônio Líquido:</h5>

                        <% pl.forEach(function(conta){ %>

                        <!-- Mostra os Itens que componhe o patrimônio líquido -->

                        <tr class="box">

                            <!-- Itens da tabela -->

                            <th><%= conta.Descricao %></th>
                            <th class="pl credit"> <%= conta.Valor %></th>

                        </tr>
                        <% }); %>
                    </table>
            
                </table>




                <!-- Soma valor de Crédito -->

            </div>



        </div>
        <div class="cnt">

            <h2 id="somad">Total de Ativo: </h2>
            <h2 id="somac">Total Passivo: </h>
        </div>

        <h1 id="balanco"> Balanço: </h1>


    </div>


    <script src="./calc.js" > </script>
</body>

</html>