<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<style>
    body {
        display: flex;
        justify-content: space-around;
    }

    table{
        border: 1px solid black;
    }
    th{
        border-bottom: 1px solid black;
    }

    .credit {
        background-color: red;
    }

    .debit {
        background-color: green;
    }

    .left {
        display: flex;
        flex-direction: column;
    }
</style>

<body onload="calcula()">

    <div class="left">
      
        <!-- Deleta Crédito -->
      
        <form action="/delC" method="POST">
            <table class="box">
                <h1>Crédito</h1>
                <% credito.forEach(function(conta){ %>
                <tr class="box">
                    <input type="hidden" name="id" value="<%= conta._id %>">
                    <th> <button type="submit"> Deletar</button> </th>
                    <th><%= conta.Descricao %></th>
                    <th class="credit"><%= conta.Valor %></th>
                </tr>

                <% }); %>

            </table>

        </form>

        <!-- Soma valor de Crédito -->

        <h3 id="somac">Aqui vai soma valor: </h3>
    </div>

    <div class="rigth">

      <!-- Deleta Débito -->

        <form action="/delB" method="POST">
            <table class="box">
                <h1>Débito</h1>
                <% debito.forEach(function(conta){ %>
                <tr class="box">
                    <input type="hidden" name="id" value="<%= conta._id %>">
                    <th> <button type="submit"> Deletar</button> </th>
                    <th><%= conta.Descricao %></th>
                    <th class="debit"><%= conta.Valor %></th>
                </tr>
                <% }); %>
            </table>
        </form>

        <!-- Soma valor de débito -->
        <h3 id="somad">Aqui vai débito: </h3>

        <h1 id="bola"> Balanço: </h1>

    </div>





    <script>
        function calcula() {
            var credito = document.getElementsByClassName("credit")
            var arrayC = []
            var arrayCredito = []


            for (i = 0; i < credito.length; i++) {

                arrayC.push(credito[i].innerHTML)
                arrayCredito.push(parseInt(arrayC[i]))

            }

            var creditoTotal = arrayCredito.reduce(function (a, b) {
                return a + b
            }, 0)


            const somaCredito = document.getElementById("somac")

            somaCredito.innerText += creditoTotal

            var debito = document.getElementsByClassName("debit")
            var arrayD = []
            var arrayDebito = []


            for (i = 0; i < debito.length; i++) {

                arrayD.push(debito[i].innerHTML)
                arrayDebito.push(parseInt(arrayD[i]))

            }

            var debitoTotal = arrayDebito.reduce(function (a, b) {
                return a + b
            }, 0)

            const somaDebito = document.getElementById("somad")

            somaDebito.innerText += debitoTotal



            var faisca = document.getElementById("bola")

            faisca.innerText += creditoTotal - debitoTotal

        }
    </script>
</body>

</html>