<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./balanco.css">
    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">  
    <title>Read</title>
</head>


<body onload="calcula()">

    <header>
        <h1 class="logo">Admin-Me</h1>

        <h2 class="login">Login</h2>
    </header>
    <section>

        <div class="border">
            <h1 class="titleBalan">Balanço Patrimonial</h1>

            <div class="balan">

                <div class="left">

                    <!-- Deleta Débito -->


                    <table class="box">
                        <h3>Ativo</h3>
                        <% debito.forEach(function(conta){ %>

                        <!-- Mostra os Itens que componhe o Débito-->

                        <tr class="box">

                            <!-- Itens da tabela -->

                            <th><%= conta.Descricao %></th>
                            <th class="debit"><%= conta.Valor %></th>
                        </tr>
                        <% }); %>
                    </table>

                    <!-- Soma valor de débito -->


                </div>

                <div class="right">

                    <!-- Deleta Crédito -->


                    <table class="box">
                        <h3>Passivo</h3>
                        <% credito.forEach(function(conta){ %>

                        <!-- Mostra os Itens que componhe o Crédito-->

                        <tr class="box">

                            <!-- Itens da tabela -->

                            <th><%= conta.Descricao %></th>
                            <th class="credit"><%= conta.Valor %></th>
                        </tr>

                        <% }); %>


                        <table class="box">

                            <h5 id="somapl">Patrimônio Líquido:</h5>

                            <% pl.forEach(function(conta){ %>

                            <!-- Mostra os Itens que componhe o patrimônio líquido -->

                            <tr class="box">

                                <!-- Itens da tabela -->

                                <th><%= conta.Descricao %></th>
                                <th class="pl"> <%= conta.Valor %></th>

                            </tr>
                            <% }); %>
                        </table>

                    </table>




                    <!-- Soma valor de Crédito -->

                </div>



            </div>
            <div class="cnt">

                <h2 id="somad">Total de Ativo: </h2>
                <h2 id="somac">Total Passivo: </h>
            </div>

            <h1 id="balanco"> Balanço: </h1>


        </div>

        
    </section>

    <nav>
        <a href='/'><div class="link">
            Cadastrar
        </div>
        </a>

        <a href='/balanco'><div class="link">
            Balanço
        </div>
        </a>

        <a href='/balancete'><div class="link">
            Balancente
        </div>
        </a>

        <a href='/razonete'><div class="link">
            Razonete
        </div>
        </a>
    </nav>


    <footer>
        <h3> &copy 2021 - DSY Tech Desenvolvimento Web </h3>

    </footer>
    <script src="./calc.js"> </script>
</body>

</html>