<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<style>
    body{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    tr{
        border: 1px solid black;
        box-shadow: 1px 1px black;
    }
    .credit {
        background-color: red;
    }
    .debit{
        background-color: green;
        
    }
    .left{
        border:1px solid black;
    }
    .right {
        border:1px solid black;
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        padding: 0;
    }
    .balan{
        display: flex;
        justify-content: center;
    }
    h1{
        text-align: center;
    }
    h3{
        text-align: center;
        margin: 0;
        border-bottom: 1px solid black;
    }
    h2{
        margin: 2px;
        font-size: 22px;
    }
    h5{
        margin:0;
        font-size: 22px;
    }
    .cnt{
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        width: 70%;
    }
    #somad{
        border-right: 1px black solid;
        padding-right: 6px;
    }
    #somapl{
        margin-top: 25px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
</style>

<body onload="calcula()">

    <h1>Balanço Patrimonial</h1>
    
    <div class="balan">

     <div class="left">
         
         <!-- Deleta Débito -->

         <form action="/delD" method="POST">
            <table class="box">
                <h3>Ativo</h3>
                <% debito.forEach(function(conta){ %>
                    
                    <!-- Mostra os Itens que componhe o Débito-->
                    
                <tr class="box">
                    
                    <!-- id pra excluir  -->
                    
                    <input type="hidden" name="id" value="<%= conta._id %>">
                    <th> <button type="submit"> X</button> </th>

                    <!-- Itens Visíveis da tabela -->
                    
                    <th><%= conta.Descricao %></th>
                    <th class="debit"><%= conta.Valor %></th>
                </tr>
                <% }); %>
            </table>
         </form>   
        <!-- Soma valor de débito -->
        
        
    </div>
    
    <div class="right">
        
        <!-- Deleta Crédito -->
        
        <form action="/delC" method="POST">
        <table class="box">
                <h3>Passivo</h3>
                <% credito.forEach(function(conta){ %>
                    
                    <!-- Mostra os Itens que componhe o Crédito-->
                
                    <tr class="box">
                        
                        <!-- id pra excluir  -->
                        
                    <input type="hidden" name="id" value="<%= conta._id %>">
                    <th> <button type="submit"> X</button> </th>
                    
                    <!-- Itens Visíveis da tabela -->
                    
                    <th><%= conta.Descricao %></th>
                    <th class="credit"><%= conta.Valor %></th>
                </tr>
                
                <% }); %>
            </form>        
                <!-- Deleta PL -->
                <form action="/delPL" method="POST">
                    <table class="box">
                        
                        <h5 id="somapl">Patrimônio Líquido:</h5>
                        
                        <% pl.forEach(function(conta){ %>
                            
                            <!-- Mostra os Itens que componhe o patrimônio líquido -->
                            
                            <tr class="box">

                                <!-- id pra excluir  -->
                                
                                <input type="hidden" name="id" value="<%= conta._id %>">
                                <th> <button type="submit"> X</button> </th>
                                
                            <!-- Itens Visíveis da tabela -->
                            
                            <th><%= conta.Descricao %></th>
                            <th class="pl credit"> <%= conta.Valor %></th>
                            
                        </tr>
                        <% }); %>
                    </table>
                </form>
            </table>
            
            
        
        
        <!-- Soma valor de Crédito -->
        
    </div>
    
    
    
</div>
<div class="cnt">

    <h2 id="somad">Total de Ativo: </h2>
    <h2 id="somac">Total Passivo: </h>
</div>
    
<h1 id="balanco"> Balanço: </h1>





<script>
    function calcula() {
        
        //Soma Crédito
            var credito = document.getElementsByClassName("credit")
            var arrayC = []
            var arrayCredito = []


            for (i = 0; i < credito.length; i++) {

                arrayC.push(credito[i].innerHTML)
                arrayCredito.push(parseInt(arrayC[i]))

            }

            var creditoTotal = arrayCredito.reduce(function (a, b) {
                return a + b
            }, 0)




            //Soma Debito
            var debito = document.getElementsByClassName("debit")
            var arrayD = []
            var arrayDebito = []


            for (i = 0; i < debito.length; i++) {

                arrayD.push(debito[i].innerHTML)
                arrayDebito.push(parseInt(arrayD[i]))

            }

            var debitoTotal = arrayDebito.reduce(function (a, b) {
                return a + b
            }, 0)

            const somaDebito = document.getElementById("somad")

            somaDebito.innerText += debitoTotal




            //Soma Patrimônio Liquido

            var PL = document.getElementsByClassName("pl")
            var arraypl = []
            var arrayPL = []


            for (i = 0; i < PL.length; i++) {

                arraypl.push(PL[i].innerHTML)
                arrayPL.push(parseInt(arraypl[i]))

            }

            var PLTotal = arrayPL.reduce(function (a, b) {
                return a + b
            }, 0)


            const somaPL = document.getElementById("somapl")

            somaPL.innerText += PLTotal

            //Mostra total de Crédito
            const somaCredito = document.getElementById("somac")

            somaCredito.innerText += creditoTotal + PLTotal

            //Mostra o total do Balanço
            var balanco = document.getElementById("balanco")

            balanco.innerText += PLTotal + creditoTotal - debitoTotal
        }
    </script>
</body>

</html>