<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./razonete.css">
    <title>Razonetes</title>
</head>

<body>
    <header>
        <a href="/"> <h1 class="logo">Admin-Me</h1> </a>

        <h2 class="login"> Login</h2> 
    </header>

    <section>


        <div class="raz">

            <% debito.forEach(function(conta){ %>

            <!-- Itens Visíveis do razonete -->
            <h3> <%= conta.Descricao %> </h3>
            <div class="T">

                <div class="left">
                    <h4>Ativo</h4>
                    <%= conta.Valor %>
                </div>

                <div class="rigth">
                    <h4>Passivo</h4>

                </div>

            </div>

            <% }); %>


        </div>

        <div class="raz">

            <% credito.forEach(function(conta){ %>

            <!-- Itens Visíveis do razonete -->
            <h3> <%= conta.Descricao %> </h3>
            <div class="T">

                <div class="left">
                    <h4>Ativo</h4>
                </div>

                <div class="rigth">
                    <h4>Passivo</h4>
                    <%= conta.Valor %>

                </div>

            </div>

            <% }); %>


        </div>

        <div class="raz">

            <% pl.forEach(function(conta){ %>

            <!-- Itens Visíveis do razonete -->
            <h3> <%= conta.Descricao %> </h3>
            <div class="T">

                <div class="left">
                    <h4>Ativo</h4>
                </div>

                <div class="rigth">
                    <h4>Passivo</h4>
                    PL:<%= conta.Valor %>
                </div>

            </div>

            <% }); %>


        </div>
    </section>
    <footer>
        <h3> &copy 2021 - DSY Tech Desenvolvimento Web </h3>

    </footer>
</body>

</html>